In [11]:
import pandas as pd

In [12]:
df_config = pd.read_table('./target.txt', header=None)
df_config.head()

                                                   0
0  B-ORG B-LOC B-TIME I-TIME O B-ORG O B-ORG O B-...
1  B-TIME I-TIME O O B-TIME O B-ROLE O B-ROLE I-R...
2  B-TIME I-TIME O B-ROLE B-PER O O O O O O O O B...
3   O O O O O O O O B-LOC B-ROLE B-PER O O O O O O O
4  O O O O O O O O O O O O O O O O B-ROLE O B-LOC...

In [13]:
df_words = pd.read_table('./source.txt', header=None)
df_words.head()

                                                   0
0  新华社 北京 六月 十日 电 中宣部 、 教育部 、 团中央 和 全国学联 近日 联合 发出...
1  三年 来 ， 我 先后 给 亲友 的 六个 孩 子 找 过事 ， 有 几个 还是 托 了 两...
2     去年 春天 ， 职工 何新荣 9 岁 的 孩子 得 了 白血病 ， 家里 负担 不起 啊 ！
3  在 女子 53 公斤 级 比赛 中 ， 广东 选手 郭惠冰 4 破 成人 世界纪录 ， 令人...
4  当然 ， 由于 看 问题 的 角度 差异 和 掌握 资料 的 情况 不同 ， 各国 科学家 ...

In [14]:
words = []
configs = []
sentence_ids = []
for i, content in df_words.iterrows():
    words = words + content[0].split(' ')
    configs = configs + df_config[0].iloc[i].split(' ')    
    temp = [i] * len(content[0].split(' '))
    #sentence_ids = sentence_ids + temp

In [15]:
result_df = pd.DataFrame({'words': words, 'configs':configs}, 
                         columns=['words', 'configs'])
result_df.to_csv('total2.txt',header=None,index=None,sep=' ')
result_df.head()

  words configs
0   新华社   B-ORG
1    北京   B-LOC
2    六月  B-TIME
3    十日  I-TIME
4     电       O

In [23]:
#没有考虑句子的时候
# from sklearn.cross_validation import train_test_split
# import pandas as pd
# #dat为数据集,含有feature和label.
# df=pd.read_table('./total2.txt')
# df= pd.DataFrame({'words': words, 'configs':configs},columns=['words', 'configs'])
# train_splt,test_splt = train_test_split(df, test_size = 0.1)
# train_splt.to_csv('train_splt',header=None,index=None,sep=' ')
# test_splt.to_csv('test_splt',header=None,index=None,sep=' ')

In [16]:
#考虑句子
df=pd.read_table('./total2.txt')
df= pd.DataFrame({'words': words, 'configs':configs},columns=['words', 'configs'])
df_train=df.iloc[0:100001]
df_test=df.iloc[100001:]
# df_train = df_train.pd.DataFrame({'words': words, 'configs':configs}, 
#                          columns=['words', 'configs'])
# df_test = pd.DataFrame({'words': words, 'configs':configs}, 
#                          columns=['words', 'configs'])
df_train.to_csv('train.txt',header=None,index=None,sep=' ')
df_test.to_csv('test.txt',header=None,index=None,sep=' ')

In [24]:
# df=pd.read_table('./total2.txt')
# df_train=df.iloc[0:100000]
# df_train = pd.DataFrame({'words': words, 'configs':configs}, 
#                          columns=['words', 'configs'])
# df_train.to_csv('train.txt',header=None,index=None,sep=' ')
# df_test=df.iloc[800:]
# df_test = pd.DataFrame({'words': words, 'configs':configs}, 
#                          columns=['words', 'configs'])
# df_test.to_csv('test.txt',header=None,index=None,sep=' ')

# df_test

In [8]:
def compute_f1(data_path):
    df = pd.read_table(data_path, header=None, sep='\t', 
                     names=['word','event_tag', 'predict_tag'], encoding='utf-8')

    tp = 0
    tn = 0
    fp = 0
    fn = 0
    for index, content in df.iterrows():
        if content['event_tag'] == u'O':
            if content['predict_tag'] == u'O':
                tn += 1
            else:
                fp += 1
        else:
            if content['event_tag'] == content['predict_tag']:
                tp += 1
            else:
                fn += 1

    print('tp:{}, fn:{}, tn:{}, fp:{}'.format(tp, fn, tn, fp))

    precision = tp / (tp + fp)
    recall = tp / (tp + fn)

    f1_score = 2 * precision * recall / (precision + recall)
    print(df.shape)

    return f1_score, precision, recall

In [9]:
data_path='./result_new.txt'
f1_score, precision, recall = compute_f1(data_path)
print('f1_score:{}, precision:{}, recall:{}'.format(f1_score, precision, recall))

tp:1393, fn:4608, tn:11601, fp:624
(18226, 3)
f1_score:0.34746819655774513, precision:0.6906296479920674, recall:0.23212797867022164